@import './fonts';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 12px;
  line-height: 1.5;
}

body {
  font-family: "source-sans-pro",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
  color: #303133;
}

body {
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
  // padding-bottom: 1rem;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    transition: none;
  }
}

.app-title {
  user-select: none;
  font-family: 'Poppins', sans-serif;

  h1 {
    font-weight: 500;
  }

  span.secondary {
    padding-left: .5rem;
    font-weight: 300;
    opacity: .8;
  }
}

p {
  padding-bottom: 1.8rem;
}