.activate-licence-base-step {
  input {
    font-family: "source-sans-pro";
    font-size: 1.8rem;
    --input-padding-horizontal: 3rem;
    --text-color: #707070;
    color: var(--text-color);
    padding: 1.2rem var(--input-padding-horizontal);
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    box-shadow: 0 3px 14px -1px rgba(#393939, 0.1);
    transition: box-shadow .1s ease-in-out;

    &:focus, &:active {
      outline: none;
      box-shadow: 0 3px 14px -1px rgba(#393939, 0.2);
    }
  }

  input::placeholder,
  .placeholder {
    opacity: .2;
    color: var(--text-color);
  }
}