$errorColor: #C70F0F;

.activate-licence-base-step {
  input::-ms-clear {
    display: none;
  }

  input {
    --input-padding-horizontal: 3rem;
    --text-color: #707070;
    color: var(--text-color);
    font-family: "source-sans-pro";
    font-size: 1.8rem;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 1.2rem var(--input-padding-horizontal);
    box-shadow: 0 3px 14px -1px rgba(#393939, 0.1);
    transition: box-shadow .1s ease-in-out;

    &:focus, &:active {
      outline: none;
      box-shadow: 0 3px 14px -1px rgba(#393939, 0.2);
    }
  }

  input::placeholder,
  .placeholder {
    opacity: .2;
    color: var(--text-color);
  }  

  .message.error {
    color: $errorColor;
    font-size: 1.33rem;
    font-weight: 600;
    margin-top: 1.2rem;
  }
}
