@import './fonts';
@import './vars';

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug * {
  border: .1px solid rgba(red, .2);
}

html {
  font-size: 12px;
  line-height: 1.5;
  height: 100%;
}

body {
  color: #303133;
  font-family: "source-sans-pro",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    transition: none;
  }
}

button {
  color: inherit;
  border: none;
  background: none;
  line-height: normal;
  padding: 1rem 2rem;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.app-title {
  img {
    display: block;
    width: 9rem;

    @media screen and (min-width: $mobile) {
      width: 11.2rem;
    }
  }
}

// scoped style in single-file .vue doesn't work with v-html
.article-list .html-content {
  font-size: .8rem;

  @media screen and (min-width: $mobile) {
    h3 {
      font-size: 2.8em;
    }

    h4, p, ul {
      font-size: 1.5em;
    }
  }

  h3 {
    font-family: "orator-std";
    font-size: 2.4em;
    font-weight: 100;
    line-height: 1.8;
    padding-bottom: .2em;
  }

  h4, p, ul {
    font-size: 1.75em;
  }

  h4 {
    font-family: 'source-sans-pro';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: .3em;
    margin-bottom: 1.8em;
  }

  p {
    text-align: justify;
    line-height: 1.8;
    margin-top: 1.5em;
    margin-bottom: 1em;

    & ~ ul {
      margin-bottom: 2em;
    }
  }

  ul {
    list-style: none;
    // padding-top: 1em;
    
    li {
      line-height: 2.4;
      margin-left: 2.5em;
      position: relative;

      &::before {
        content: '';
        background-color: #384759;
        border-radius: 50%;
        position: absolute;
        top: 1.15em;
        left: -1em;
        width: 4px;
        height: 4px;
      }
    }
  }

  a {
    --color: #A250E5;
    color: var(--color);
    background-color: rgba(#A250E5 , .1);
    border-bottom: 1px solid transparent;
    padding: 0 .4em;
    transition: border .11s ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--color);
      transition: border 0s ease-in-out;
    }
  }
}