@import './fonts';
@import './vars';
@import './colors';
@import './mixins';

.el-dropdown {
  cursor: pointer;
}

.el-button {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: normal;
  padding: .7rem 1rem;
  border-radius: 5px;

  &:last-of-type {
    margin-bottom: 0
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.el-tabs__nav-wrap::after {
  background-color: transparent;
}

.el-tabs__content {
  overflow: visible;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug * {
  border: .1px solid rgba(red, .2);
}

html {
  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 12px;
  $max_font: 13px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.5;
  height: 100%;
}

body {
  color: #303133;
  font-family: 'Source Sans Pro', sans-serif,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100%;
  line-height: 1.5;
  font-size: 1.2rem
}

::-webkit-scrollbar {
  background-color: rgba(0,0,0,.1);
  width: 7px;
  max-width: 1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

h3 { font-weight: normal }

h1,
h2,
h3 > b,
h4,
h5 { font-weight: 700 }

h1 { font-size: 5.6rem }
h2 { font-size: 3.4rem }
h3 { font-size: 2.4rem }
h4 { font-size: 1.6rem }
h5 { font-size: 1.5rem }

// p,
// span,
// ul,
// li { font-size: 1.2rem }

a, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
  transition: color .2s ease-in-out;

  &:hover {
    transition: none;
  }
}

ul,
li {
  list-style: none;
}

button {
  color: inherit;
  border: none;
  background: none;
  line-height: normal;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.app-title {
  img {
    display: block;
    width: 9rem;

    @media screen and (min-width: $mobile) {
      width: 11.2rem;
    }
  }
}

// scoped style in single-file .vue doesn't work with v-html
// TODO: Revoir les headings
.ArticleList .html-content {
  h2 ~ h3 {
    margin-top: .3em;
  }

  h3 ~ h4 {
    margin-top: .3em;
  }

  p {
    margin-top: .5em;
  }

  ul {
    margin: 2em 0;
  }

  p {
    text-align: justify;
  }

  ul {    
    li {
      margin-left: 2.5em;
      position: relative;
      line-height: 2em;

      &::before {
        content: '';
        background-color: #cacaca;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -1em;
        width: 4px;
        height: 4px;
        transform: translateY(-50%);
      }
    }
  }

  a {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding: 0 .4em;
    position: relative;
    transition: border .11s ease-in-out;

    &::after {
      content: '';
      background: rgba($primary-color, .1);
      border-radius: 0;
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      transform-origin: 50% 100%;
      transform: scaleY(0);
      transition: all .11s ease-in-out;
    }

    &:hover {
      border: transparent;
      transition: border 0s ease-in-out;

      &::after {
        border-radius: 3px;
        transform: scaleY(1);
        transition: border 0s ease-in-out;
      }
    }
  }
}